{{> admin-switch-table}}
<a href='/admin/restaurants/create' style="position: absolute; right:123px; top: 133px;">
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>
<br />
<table class="table align-middle">
  <thead class="table-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/restaurants/{{this.id}}">
            Show
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/restaurants/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          {{!-- 使用者點確定 (OK) → confirm() 回傳 true，表單會被提交；使用者點取消 (Cancel) → confirm() 回傳 false。形成 onclick="return
          false"，表單不會被提交 --}}
          {{!-- 在 confirm() 方法裡面傳入字串，這裡選擇反引號 confirm(`xxx`)，若傳入的值 Gary's restaurant 裡面也有 ' ，導致這個 function 裡面變成有三個單引號 '
          ，而出錯無法執行 --}}
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>