<div class="card">
  <div class="row align-items-center no-gutters">
    <div class="col-md-4">
      {{#if user.image}}
      <img src="{{user.image}}" width="300px" height="300px" style="transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;" />
      {{else}}
      {{!-- 預設 user 大頭貼 --}}
      <img src="https://via.placeholder.com/300" width="300px" height="300px"
        style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
      {{/if}}
    </div>
    <div class="col-md-6 mx-auto">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <div class="card-text mb-5">
          <strong>{{user.commentedRestaurants.length}}</strong>已評論餐廳
        </div>
        {{!-- 使用者只能編輯自己的資料 --}}
        {{#ifCond loginUser.id user.id}}
        <a class="btn btn-primary" href="/users/{{user.id}}/edit">
          Edit
        </a>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <br />
    <div class="card">
      <div class="card-header">
        <strong>{{user.commentedRestaurants.length}}</strong>已評論餐廳
      </div>
      <div class="card-body">
        {{#each user.commentedRestaurants}}
        <a href="/restaurants/{{this.id}}" class="text-decoration-none">
          {{!-- 當元素被加載到網頁中時，觸發 onload 事件，它最初是不可見的（不透明度 opacity 為 0），然後透過 CSS 過渡(transition)效果 ，透明度平滑地在 0.5 秒內從 0 增加到 1，使元素淡入可見（不透明度 opacity 為 1） --}}
          <img src="{{this.image}}" width="60" height="60" class="avatar m-1" style="transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;" />
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>